<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Datmonan"
        tools:targetApi="31">
        <activity
            android:name=".ThongBao.ThongBao1Activity"
            android:exported="false" />
        <activity
            android:name=".HangBom.DonHangBomActivity"
            android:exported="false" />
        <activity
            android:name=".ThongBaoAdmin.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".ThongBao.ThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".DatHang.DatHangActivity"
            android:exported="false" />
        <activity
            android:name=".ThucDonKhachHang.ChiTietSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".GioHang.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".ThucDonKhachHang.ThucDonActivity"
            android:exported="false" />
        <activity
            android:name=".DangXuatAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ThongBaoAdmin.ThongBaoAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DoanhThuAdmin.DoanhThuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".KhachHangAdminActivity"
            android:exported="false" />
        <activity
            android:name=".HoaDonAminActivity"
            android:exported="false" />
        <activity
            android:name=".SanPhamAdminActivity"
            android:exported="false" />
        <activity
            android:name=".LoaiSanPhamAdminActivity"
            android:exported="false" />
        <activity
            android:name=".TrangChuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".GiaoDienAdminActivity"
            android:exported="false" />
        <activity
            android:name=".TaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".ThucDonAdmin.ThucDonAdminActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ThongBao.ThongBaoActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".TrangChuActivity"
            android:exported="false" />
        <activity
            android:name=".DangNhapActivity"
            android:exported="false" />
        <activity
            android:name=".DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".GiaoDienActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>